*{margin: 0 auto; padding: 0; list-style: none;}
#wrap{width: 1280px; margin: 0 auto;}
header{width: 100%; height: 80px; background-color:black; font-size:27px; color: white;}
.naver{float: right;margin-top: 10px;font-weight: 500;}
.nhnimg img{width: 270px; height: 35px;margin-top: 20px;}
#img1 img{width: 600px; height: 600px;float: left;}
#img2 {width: 330px; height:300px;float: left;}
#img2 img{width: 330px; height:300px;float: left;}
#img2 p{position: absolute;color: white;font-size: 18px;margin-top: 220px;margin-left: 10px;font-weight: 500;}
#img3 img{width: 350px; height:300px;}
#img3 img{width: 350px; height:300px;}
#img3 p{position: absolute;color: white;font-size: 18px;margin-left: 940px; margin-top: -85px;font-weight: 500;}
#img4 img{width: 680px; height:300px;margin-top: -5px}
#img4 p{position: absolute;color: white;font-size: 20px;margin-top: -210px;margin-left: 610px;font-weight: 500;}
footer{width: 1280px; height: 100px; background-color:black; font-size:20px; color: white;margin-top: -10px;}
footer p{text-align: center;font-weight: 500;}
table{padding: 15px; width: 600px;}
